<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Desain Interior</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="interior.image" [alt]="interior.name">
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="cash-outline" ></ion-icon> Cost : {{ cost }}</ion-card-subtitle>
      <ion-card-title>{{ interior.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ interior.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
