<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Tambahan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Opsi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
