ion-content ion-toolbar {
  --background: translucent;
}

ion-item:not(:last-of-type){
  
}
ion-item:last-of-type{
  padding-bottom: 32px;
}
.list-ios{
  background: none;
}
ion-item{
  padding: 7px 15px;
  p{
    margin-top: 6px
  }
}
ion-content{
  --ion-background-color:rgba(0, 0, 0, .01);
}
ion-avatar{
  width: 52px;
  height: 52px;
  margin-right: 12px;
  img{
    border-radius: 10px
  }
}
