<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Interior API</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar debounce="500" placeholder="Cari Keyword" (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-list>
      <ion-list-header>
        Galeri Interior
      </ion-list-header>
      <ion-item class="item" (click)="onSelect(interior)" *ngFor="let interior of interiors">
        <ion-avatar>
          <img [src]="interior.image">
        </ion-avatar>
        <ion-label>
          <h2>{{ interior.name }}</h2>
          <p>{{ interior.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
