ion-content ion-toolbar {
  --background: translucent;
}

ion-item ion-avatar{
  width: 52px;
  height: 52px;
  margin-right: 12px;
}

ion-item:last-of-type{
  padding-bottom: 32px;
}
.list-ios{
  background: none;
}
ion-item{
  padding: 7px 15px;
  ion-label{
    p{

    }
    h3{
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 3px;
      ion-icon{
        margin-right: 4px;
        margin-bottom: 2px;
      }
    }
  }
  
}
ion-content{
  --ion-background-color:rgba(0, 0, 0, .01);
}