<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Property API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Property API</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar debounce="500" placeholder="Cari Keyword Properti" (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-list>
      <ion-list-header>
        Galeri Properti
      </ion-list-header>

      <ion-item 
          *ngFor="let property of properties"
          (click)="onSelect(property)">
        <ion-avatar>
          <img [src]="property.image" [alt]="property.name">
        </ion-avatar>
        <ion-label>
          <h2>{{ property.name }}</h2>
          <h3>
            <ion-icon name="navigate-circle-outline"></ion-icon> 
            {{ property.location }}
          </h3> 
          <p>{{ property.description }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
