ion-content ion-toolbar {
  --background: translucent;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

img#avatar-id{
  border-radius: 50%;
  margin-top: 0;
}

ol{
  list-style-type: none;
  padding-left: 0;
  li{
    display: inline-block;
  }
  li:not(:last-of-type):after{
    content: '|';
    margin-right: 6px;
    line-height: 24px;
  }
}

h2{
  font-size: 20px;
  margin-top: 0
}
h3{
  font-size: 16px;
  color: #CCC;
  font-style: italic;
  margin-top: 5px;
}