<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <img [src]="author.avatar" id="avatar-id">
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 style="text-align: center;">{{ author.name }}</h2>
          <h3>``{{ author.bio }}``</h3>
          <div id="expertise">
            <ol>
              <li *ngFor="let expertise of author.expertises">
                {{ expertise }}
              </li>
            </ol>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
