<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ property.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="property.image" alt="">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="map-outline"></ion-icon> {{ property.location }}
      </ion-card-subtitle>
      <ion-card-title>
        {{ property.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ property.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
